name: Build

on:
  push:
    branches: [ "main" ] 
permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Check
        uses: actions/checkout@v4

      - name: Setup Emscripten
        uses: mymindstorm/setup-emsdk@v14
        
      - name: Build Web Version
        run: |
          # Compile main.c using SDL2 (-s USE_SDL=2)
          # Outputs index.html, index.js, and index.wasm
          emcc main.c -o index.html -s USE_SDL=2 -s WASM=1 --shell-file shell.html

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: . 
          branch: gh-pages
